@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
    --padding: 0 50px 0 50px;
}

html {
    font-size: 14px;
}

* {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}

body {
    margin: 0;
    overflow-x: hidden;
}

header {
    display: flex;
    max-width: 100vw;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    padding: 10px 0 10px 0;
    position: sticky;
    top: 0;
    padding: var(--padding);
    z-index: 100;
    backdrop-filter: blur(20px);
    transition: 0.2s ease all;
}

li > a {
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
    justify-content: space-around;
}
#surgeonImg {
    padding: 5px;
}
.surgeonLogo {
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}
#logoTxt {
    margin-right: 5px;
    font-weight: bold;
    text-wrap: wrap;
}

ul > li {
    list-style: none;
}

li > a {
    position: relative;
}

nav {
    flex: 2;
}

.func {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}

.func > button,
.appointmentBtn {
    margin-left: 10px;
    padding: 10px 5px 10px 5px;
    border-radius: 20px;
    font-size: small;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    transition: 0.2s ease all;
}

button:hover {
    cursor: pointer;
}

.appointmentBtn {
    background-color: black;
    font-weight: bold;
    color: white;
}

.appointmentBtn:hover {
    color: black;
    background-color: white;
}
.in::after,
.active::after {
    content: "";
    position: absolute;
    top: 110%;
    height: 1px;
    background-color: black;
    width: 0px;
    left: 0;
    animation: animateLine 0.3s forwards;
}

.heroContent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: var(--padding);
}

.heroContent > div {
    flex: 1.5;
    padding: 50px;
    text-align: justify;
}

.heroContent > aside {
    flex: 1;
    position: relative;
}
.imageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(197, 197, 197);
    position: relative;
    overflow: hidden;
}
aside > label {
    position: absolute;
    bottom: 15%;
    overflow: visible;
    left: 2%;
    border-radius: 15px;
    display: flex;
    background-color: rgb(228, 228, 228);
    box-shadow: 0px 0px 20px 1px rgb(120, 120, 120);
    align-items: center;
    padding: 5px;
}
.imageContainer > img {
    width: 70%;
}
.imgDes {
    font-size: 10px;
    padding: 5px;
}

.title {
    margin-top: 30px;
}

.title > h1 {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
}

.title > h1::before {
    content: "";
    height: 1px;
    flex: 1;
    background-color: black;
}
.title > h1::after {
    content: "";
    height: 1px;
    background-color: black;
}

.services {
    padding: var(--padding);
    padding-bottom: 20px;
}

.serv {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 10px;
}

.serv > div {
    background-color: white;
    padding: 15px;
    box-shadow: 0px 0px 50px -20px rgb(119, 119, 119);
    border-radius: 15px;
    transition: 0.2s ease all;
}

.serv > div:hover {
    scale: 1.05;
}

.notablePartners {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    background-color: rgb(207, 206, 206);
    padding: var(--padding);
}

.partners {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px 100px 20px 100px;
    align-items: center;
}

.partners > .imgContainer {
    max-width: 20vw;
}

.imgContainer > img {
    width: 100%;
}

.srvImg {
    width: 40px;
}
.hamItems {
    position: fixed;
    height: 100vh;
    width: 400px;
    top: 0;
    right: 0;
    z-index: 100;
    box-shadow: -2px 0 20px -10px black;
    transform: translateX(110%);
    transition: 0.3s ease all;
    padding-top: 70px;
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hamItems > .func {
    flex-direction: column;
    width: 100%;
    padding: 20px 5px 20px 5px;
    align-items: center;
}

.hamItems > .func > * {
    width: 70%;
}

.hamburgerContainer {
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 200;
}

.hamburger-react {
    align-self: center;
    justify-content: flex-end;
}

.blocker {
    display: none;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

@keyframes animateLine {
    60% {
        scale: 1;
    }
    100% {
        width: 100%;
        scale: 1.2;
    }
}

@media (max-width: 1000px) {
    body {
        overflow-x: hidden;
    }
    .heroContent {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;
    }

    aside {
        display: flex;
        justify-content: center;
        width: 50%;
        align-items: center;
    }
}

@media (max-width: 750px) {
    .hamItems {
        width: 103vw;
    }
    nav > ul {
        flex-direction: column;
    }
    .imgDes {
        height: 20px;
    }
    .imgDes > * {
        font-size: smaller;
    }
    aside > label > img {
        width: 50px;
        height: auto;
    }
}
